<div class="container mt-4">
    <h2 class="mb-3">{{ bucketName }}</h2>
  
    <ul class="nav nav-tabs">
      <li class="nav-item">
        <a class="nav-link" style="cursor: pointer;" [class.active]="activeTab === 'files'" (click)="setActiveTab('files')">Files</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" style="cursor: pointer;" [class.active]="activeTab === 'details'" (click)="setActiveTab('details')">Details</a>
      </li>
    </ul>

    <div class="card p-3 mb-3">

      <div *ngIf="activeTab === 'files'">
        <div class="row">
            <div class="col-md-6 mt-2">
                <p>All Files ({{ files.length }})</p>
            </div>
            <div class="col-md-6 d-flex justify-content-end mb-3">
              <button class="btn btn-light me-3"  (click)="deleteFile()">
                <i class="bi bi-trash"></i> Delete Object
              </button>
              <button class="btn btn-light" (click)="openFileDialog()">
                <input type="file" #fileInput style="display: none" (change)="onFileSelected($event)">
                <i class="bi bi-upload"></i> Upload Object
              </button>
            </div>
        </div>
        <table class="table table-striped">
            <thead class="table-secondary">
            <tr>
                <th>Name</th>
                <th>Last modified</th>
                <th>Size</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let file of files" (click)="selectedFileOnClick(file)" class="table-hover" style="cursor: pointer;">
                <td>
                <i class="bi bi-file-earmark-text"></i> {{ file.name }}
                </td>
                <td>{{ file.lastmodified }}</td>
                <td>{{ file.size }}</td>
            </tr>
            </tbody>
        </table>
      </div>

    <div *ngIf="activeTab === 'details'">
      <button class="btn btn-danger float-end" (click)="onBucketDelete()">Delete Bucket</button>
      <p><strong>Bucket name:</strong> {{ selectedBucket.name }}</p>
      <p><strong>Location:</strong> {{ selectedBucket.location }}</p>
      <p><strong>Storage size:</strong> {{ storageSize }} MB</p>
    </div>
  </div>
</div>